@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--Very-dark-blue-main);
}
.card{
  width:280px;
  height: 450px;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--Very-dark-blue-card);
}
.imagem{
  width: 100%;
  height: 60%;
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.imagem img:nth-child(1){
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.imagem .view{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Cyan);
  opacity: .3;
  visibility: hidden;
}
.imagem:hover > .view{
  visibility: visible;
}
.imagem > #view{
  position: absolute;
  width: 15%;
  height: 15%;
  top: 42%;
  left: 42%;
  visibility: hidden;
}
.imagem:hover > #view{
  visibility: visible;
}

.title{
  margin-bottom: 1rem;  
}
.title h1{
  font-size:1.125rem;
  color: var(--White);
  cursor: pointer;
  transition: .3s;
}
.title h1:hover{
  color: var(--Cyan);
}
.texto{
  margin-bottom: 1rem;
}
.texto p{
  font-size:.9rem;
  color:var(--Soft-blue);
}
.info{
  display: flex;
  justify-content: space-between;
  padding-bottom: .8rem;
  margin-bottom: .5rem;
  font-size:.7rem;
  border-bottom: 1px solid var(--Very-dark-blue-line);
}
.info-eth{
  color: var(--Cyan);
  display: flex;
  gap: .2rem;
}
.info-eth img{
  width: 8px;
  height: 14px;
  object-fit: cover;
}
.info-days{
  display: flex;
  gap: .2rem;
  color: var(--Soft-blue);
}
.info-days img{
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.perfil-conteudo{
  display: flex;
  align-items: center;
  font-size: .8rem;
  gap: .8rem;
}
.perfil-conteudo p{
  color: var(--Soft-blue);
}
.perfil-conteudo span{
  color: var(--White);
  cursor: pointer;
  transition: .3s;
}
.perfil-conteudo span:hover{
  color: var(--Cyan);
}
.perfil-conteudo img{
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--White);
}











/*
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}*/